.container {
  // max-width: 1440px;
  padding-left: 6.25rem;
  padding-right: 7.5rem;
  margin-left: auto;
  margin-right: auto;
  @include respond(tab-land) {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
  @include respond(tab-port) {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.125rem;
  @include respond(tab-land) {
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0;
    padding-top: 1.875rem;
    background-color: white;
    z-index: 999999;
  }
  @include respond(phone) {
    padding-top: 0.875rem;
  }
  &-logo {
    margin-right: 4.375rem;
  }
  &-links {
    display: flex;
    list-style-type: none;
    @include respond(tab-land) {
      display: none;
    }
    li {
      margin-right: 3.75rem;
      font-weight: 500;
      position: relative;
      svg {
        margin-left: 0.75rem;
      }
    }
    a {
      color: black;
    }
  }
  &-btn {
    margin-left: auto;
    height: 3rem;
    width: 14.625rem;
    background-color: #c08b1d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    border-radius: 3.125rem;
    @include respond(tab-land) {
      display: none;
    }
  }
}
.mobile-nav {
  display: none;
  @include respond(tab-land) {
    display: block;
  }
  &-hamburger {
    cursor: pointer;
    background: none;
    border: none;
    span {
      width: 2.375rem;
      border-top: 2px solid #000;
      display: block;
      margin-bottom: 8px;
      @include respond(phone) {
        width: 1.375rem;
        margin-bottom: 6px;
      }
    }
  }
  &-content-wrap {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    height: 40rem;
    transform: translateX(100vw);
    transition: all 0.5s;
    @include respond(phone) {
      transition: all 0.2s;
    }
  }
  &-content {
    background-color: #ffffff;
    padding: 40px 25px 70px 50px;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow: scroll;
    .social-media {
      @include respond(phone) {
        right: 50%;
      }
    }
    .social-media-hover {
      width: fit-content;
    }
  }
  &-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: 1.625rem 1.5625rem 4.0625rem auto;
    @include respond(phone) {
      margin: 0.625rem 0rem 4.0625rem auto;
    }
  }
  &-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc9c9;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 1.25rem 0;
    color: #333333;
  }
  &-dp {
    font-size: 1.125rem;
    font-weight: 600;
    display: block;
    margin: 11.875rem 0 1.25rem 0;
    text-align: center;
    text-decoration: underline;

    color: #000;
  }
  &-reg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.625rem;
    height: 2.9375rem;
    margin: 0 auto;
    background-color: #c08b1d;
    border-radius: 3.125rem;
    color: #ffffff;
  }
}
.heading {
  // padding-top: 6.25rem;
  overflow: hidden;
  margin-top: 98px;
  // text-transform: uppercase;
  @include respond(tab-land) {
    margin-top: 140px;
  }
  @include respond(tab-port) {
    padding-top: 4.25rem;
    margin-top: 120px;
  }
  @include respond(phone) {
    padding-top: 3.875rem;
    margin-top: 60px;
  }
  h1 {
    font-size: 72px;
    line-height: 81px;
    text-align: center;
    font-weight: 400;
    max-width: 960px;
    margin: 0 auto;
    font-family: Luxury;
    @include respond(tab-land) {
      font-size: 2.75rem;
      line-height: 64px;
      // text-align: left;
    }
    @include respond(phone) {
      font-size: 30px;
      min-height: 180px;
      line-height: 128%;
    }
  }
  &-subtext {
    // height: 18.75rem;
    // overflow: hidden;
    position: relative;
    display: inline-flex;
    // height: 5rem;
    @include respond(tab-port) {
      overflow: hidden;
    }
    @include respond(phone) {
      display: block;
    }
    &-wrapper {
      // display: inline-flex;
      flex-direction: column;
      position: relative;
      top: 0;
      // transition: all 3s;
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 35%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 65%,
        rgba(255, 255, 255, 1) 100%
      );
    }
    span {
      display: inline-flex;
      transition: all 2s ease-in;
      // opacity: 0.2;
      &:first-child {
        opacity: 1;
      }
      &:last-child {
        color: #c08b1d;
        text-decoration: underline;
      }
    }
    &-bg {
      position: absolute;
      right: 0;
      top: 0rem;
      // height: 120%;
      width: 100%;
      z-index: 99;
    }
  }
  &-secondary {
    max-width: 31.25rem;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.1875rem;
    margin-top: 3.75rem;
    @include respond(phone) {
      font-size: 1rem;
      line-height: 1.8125rem;
    }
  }
  &-links {
    display: flex;
    align-items: center;
    margin-top: 2.8125rem;
    @include respond(phone) {
      display: block;
      margin-top: 2.5rem;
    }
    &-a {
      height: 3rem;
      width: 260px;
      background-color: #c08b1d;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      margin-right: 1.5625rem;
      font-size: 0.875rem;
      @include respond(phone) {
        margin-bottom: 2rem;
      }
    }
    p {
      display: flex;
      svg {
        margin-right: 0.625rem;
      }
    }
  }
}
.register-now {
  width: 328px;
  height: 52px;
  background-color: #c08b1d;
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 12px;
  gap: 6px;
  @include respond(phone) {
    margin: 0 auto 0;
  }
}
.banner {
  padding: 137px 0 0;
  @include respond(tab-land) {
    padding: 100px 0 0;
  }
  @include respond(phone) {
    padding: 40px 0 0;
  }
  img {
    width: 100%;
  }
}
.short-about {
  display: flex;
  // max-width: 996px;
  padding: 0 268px;
  gap: 40px;
  justify-content: space-between;
  margin: 64px auto;
  @include respond(tab-land) {
    padding: 0 168px;
  }
  @include respond(tab-port) {
    padding: 0 66px;
    flex-direction: column;
    margin: 64px 0;
  }
  @include respond(phone) {
    padding: 0px 20px 0;
  }
  h2 {
    font-size: 40px;
    line-height: 56px;
    color: #c08b1d;
    max-width: 314px;
    @include respond(tab-port) {
      font-size: 26px;
      line-height: 36px;
    }
  }
  p {
    font-size: 18px;
    font-weight: 300;
    max-width: 484px;

    span {
      font-weight: 600;
      color: #c08b1d;
    }
  }
}
.wrap {
  position: relative;
}
.convention__date {
  padding: 0 24px;
  text-align: center;
  &--title {
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 0.43em;
    margin-bottom: 8px;
  }
  &--date {
    color: #c08b1d;
    font-size: 18px;
  }
}
.image-grid {
  width: 100%;
  overflow-x: scroll;
  margin-top: 112px;
  @include respond(phone) {
    margin-top: 3rem;
  }
  img {
    max-width: 110%;
    min-width: 110%;
    @include respond(phone) {
      max-width: 698px;
      min-width: 698px;
    }
  }
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
.countdown {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: 28px 67px;
  border: 1px solid #c08b1d;
  border-radius: 61px;
  width: fit-content;
  margin: 103px auto;
  position: relative;
  background-color: white;
  @include respond(tab-port) {
    padding: 18px 22px;
    gap: 12px;
  }
  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100vw;
    background-color: #d9d9d9;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }
  p {
    font-weight: 300;
    span {
      font-weight: 400;
      font-family: Luxury;
      font-size: 40px;
      color: #c08b1d;
      @include respond(tab-port) {
        font-size: 28px;
      }
    }
  }
}
.learn-more {
  display: flex;
  width: 277px;
  height: 55px;
  gap: 4px;
  background-color: #c08b1d;
  border: none;
  font-size: 18px;
  margin: 100px auto;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: white;
}
// .old-content {
//   height: 0;
//   overflow: hidden;
// }
.register {
  max-width: 46.25rem;
  margin: 7.5rem auto 9.375rem auto;
  text-align: center;
  @include respond(phone) {
    margin: 3rem auto 1.5rem auto;
  }
  h3 {
    font-size: 3.125rem;
    line-height: 4.0625rem;
    font-weight: 700;
    color: #c08b1d;
    margin-bottom: 2.5rem;
    @include respond(tab-port) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
  p {
    font-size: 1.25rem;
    line-height: 2.1875rem;
    margin-bottom: 3.125rem;
    max-width: 35rem;
    margin: 0 auto;
    @include respond(tab-port) {
      font-size: 0.875rem;
      line-height: 1.5rem;
    }
    span {
      color: #c08b1d;
    }
  }
  a {
    margin: auto;
  }
}
.theme {
  @include respond(tab-port) {
    // margin-top: 5rem;
  }
  h3 {
    font-size: 2.5rem;
    line-height: 3.3125rem;
    @include respond(phone) {
      font-size: 1.5625rem;
      line-height: 2.1875rem;
      // text-align: center;
    }
  }
  &-title {
    max-width: 34.625rem;
    text-align: center;
    margin: 0 auto;
  }
  &-wrapper {
    margin: 0 auto 0 auto;
    padding-top: 5.3125rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    max-width: 72.0625rem;
    gap: 3.4375rem;
    @include respond(tab-land) {
      flex-direction: column-reverse;
    }
    @include respond(tab-port) {
      margin: 0 auto 0 auto;
      padding-top: 3.3125rem;
    }
    img {
      border-radius: 10px;
      animation: MoveUpDown 2s ease-in-out infinite;
      width: 50%;
      @include respond(tab-land) {
        margin-right: 0;
        // margin-bottom: 3rem;
      }
      @include respond(phone) {
        width: 100%;
      }
    }
    h3 {
      color: #c08b1d;
      margin-bottom: 2.1875rem;
    }
    p {
      // font-size: 1.25rem;
      line-height: 26.88px;
      a {
        font-weight: 500;
        color: black;
        text-decoration: underline;
        &:hover {
          color: #c08b1d;
        }
      }
    }
  }
}
.new-theme {
  background-color: #ededed;
  padding: 64px 24px;
  p {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 12px 28px;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: fit-content;
    @include respond(phone) {
      font-size: 14px;
      padding: 12px;
    }
    span {
      font-weight: 800;
    }
  }
}
.border-container-parent {
  background-color: #ededed;
}
.border-container {
  background: #ffffff;
  box-shadow: 0px -8px 44px rgba(0, 0, 0, 0.06);
  border-radius: 56px;
  padding-bottom: 80px;
  @include respond(phone) {
    border-radius: 24px;
  }
}
.dp {
  margin-top: 8.125rem;
  padding: 3.25rem;
  background-color: #f8efde;
  display: flex;
  align-items: center;
  @include respond(tab-land) {
    flex-direction: column-reverse;
  }
  @include respond(phone) {
    padding: 2rem 1rem;
  }
  p {
    font-size: 2.1875rem;
    line-height: 3.3125rem;
    font-weight: 700;
    margin-bottom: 3.125rem;
    @include respond(phone) {
      font-size: 1.5625rem;
      line-height: 2.1875rem;
      text-align: center;
    }
  }
  a {
    @include respond(phone) {
      margin: 0 auto;
    }
  }
  img {
    margin-left: 7.625rem;
    width: 25.6875rem;
    animation: MoveDownUp 2s ease-in-out infinite;
    @include respond(tab-land) {
      margin-left: 0;
      margin-bottom: 3rem;
    }
    @include respond(phone) {
      width: 100%;
    }
  }
}
.previous-themes {
  margin-top: 7.5rem;
  @include respond(phone) {
    margin-top: 5.5rem;
  }
  &-heading {
    font-size: 2.5rem;
    line-height: 3.3125rem;
    text-align: center;
    font-weight: 700;
    max-width: 44rem;
    margin: 0 auto;
    color: #c08b1d;
    padding: 0 1rem;
    @include respond(phone) {
      font-size: 1.5625rem;
      line-height: 2.1875rem;
      // padding: 0 34px;
    }
  }
  &-wrapper {
    display: flex;
    column-gap: 3rem;
    margin-top: 4.375rem;
    overflow-x: hidden;
    @include respond(phone) {
      column-gap: 1rem;
    }
    img {
      border-radius: 6px 6px 0 0;
      height: 19rem;
      width: 23.125rem;
      object-fit: cover;
      @include respond(phone) {
        height: 13.125rem;
        width: 70vw;
      }
    }
  }
  &-textbox {
    background-color: #f8f7f7;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    padding: 0 1.875rem;
    margin-top: -0.5rem;
    border-radius: 0 0 6px 6px;
    height: 4.875rem;
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    @include respond(phone) {
      width: 70vw;
      gap: 1rem;
      padding: 0 1rem;
    }
    &-primary {
      font-weight: 600;
      @include respond(phone) {
        font-size: 0.875rem;
      }
    }
    &-secondary {
      font-size: 32px;
      font-weight: 300;
      color: #cfcccc;
      font-family: "Luxury";
      @include respond(phone) {
        font-size: 1.25rem;
      }
    }
  }
}
#old-content {
  background: #ededed;
}
.faq {
  margin-top: 11.25rem;
  @include respond(phone) {
    margin-top: 7.25rem;
    padding: 0 24px;
  }
  h3 {
    color: black;
    margin-bottom: 3.125rem;
    @include respond(phone) {
      margin-bottom: 1.5rem;
    }
  }
  &-item {
    margin: 6px auto;
    max-width: 48rem;
    border: 1px solid #dedede;
    border-radius: 6px;
  }

  &-button {
    width: 100%;
    background-color: #f3f3f3;
    color: #333;
    border: none;
    font-weight: 700;
    font-size: 16px;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    @include respond(tab-port) {
      padding: 1rem 2rem;
    }
    @include respond(phone) {
      padding: 1rem 0.5rem;
      text-align: left;
      font-size: 0.8125rem;
      line-height: 1.21875rem;
      // background-color: transparent;
      // border-bottom: 1px solid #e3d6d6;
    }
    svg {
      transition: all 0.5s;
    }
  }
  .active {
    svg {
      transform: rotate(45deg);
    }
  }
  &-content {
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    padding: 0 1.5rem 0 1.5rem;
    color: #939393;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
    background-color: #f3f3f3;
    @include respond(tab-port) {
      padding: 0 2rem;
    }
    @include respond(phone) {
      padding: 0 0.5rem;
      font-size: 0.75rem;
      line-height: 1.5rem;
    }
  }
}
.video {
  margin-top: 9.6875rem;
  @include respond(phone) {
    margin-top: 4.6875rem;
  }
  &-subtext {
    font-size: 1.125rem;
    line-height: 1.875rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 1.5625rem;
    max-width: 26.6875rem;
    @include respond(phone) {
      font-size: 0.875rem;
      line-height: 1.4375rem;
    }
  }
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #785f2a;
    margin-top: 3.5625rem;
    @include respond(tab-port) {
      // position: sticky;
      top: 0;
      display: flex;
      flex-direction: column-reverse;
    }
  }
  &-img-wrapper {
    @include respond(tab-port) {
      position: sticky;
      top: 5rem;
    }
  }
  &-img {
    position: relative;
    transition: all 0.2s;
    position: sticky;
    top: 0;
    display: none;
    cursor: pointer;
    &:first-child {
      display: block;
    }
    img {
      height: 100vh;
      min-height: 37.5rem;
      width: 100%;
      object-fit: cover;
      @include respond(tab-port) {
        height: 47vh;
        min-height: 20rem;
      }
    }
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }
  }
  &-text {
    max-width: 31rem;
    margin: auto;
    height: 100vh;
    min-height: 37.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include respond(tab-port) {
      height: 50vh;
      min-height: 20rem;
      max-width: 90%;
    }
  }
  &-primary {
    color: #ffe7b4;
    font-size: 3.4375rem;
    line-height: 4.25rem;
    span {
      color: white;
      font-weight: 700;
    }
    @include respond(phone) {
      font-size: 1.5625rem;
      line-height: 2.1875rem;
    }
  }
  &-secondary {
    margin-top: 1.25rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2.0625rem;
    color: white;
    @include respond(phone) {
      font-size: 0.875rem;
      line-height: 1.4375rem;
    }
  }
  &-footer {
    h4 {
      max-width: 430px;
      font-size: 36px;
      line-height: 50px;
      font-weight: 500;
      text-align: center;
      padding-top: 7.1875rem;
      margin: 0 auto 0 auto;
      @include respond(phone) {
        font-size: 1.5625rem;
        line-height: 2.1875rem;
      }
    }
    a {
      margin: 3.125rem auto 0;
      // background-color: white;
      font-weight: 600;

      color: #c08b1d;
      background-color: transparent;
      width: 335px;
      border: 1px solid #c08b1d;
      filter: drop-shadow(0px 6px 24px rgba(0, 0, 0, 0.08));
      border-radius: 12px;
      @include respond(tab-land) {
        display: flex;
      }
    }
  }
}
.fs {
  margin-top: 8.75rem;
  background-color: #f8efde;
  // background: linear-gradient(rgb());
  border-radius: 24px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(#ffd18c, 1) 50%
  );
  display: flex;
  justify-content: space-between;
  padding: 6.25rem 3.125rem 0;
  @include respond(tab-land) {
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 50%,
      rgba(#ffd18c, 1) 50%
    );
  }
  @include respond(tab-port) {
    margin-top: 6.75rem;
    padding: 3.25rem 3.125rem 0;
  }
  @include respond(phone) {
    padding: 1rem 1rem 0;
    border-radius: 24px 24px 0 0;
  }
  p {
    font-size: 2.1875rem;
    line-height: 3rem;
    font-weight: 700;
    margin-bottom: 5rem;
    max-width: 31.5625rem;
    @include respond(tab-land) {
      text-align: center;
    }
    @include respond(phone) {
      font-size: 1.5625rem;
      line-height: 2.1875rem;
      margin-bottom: 1rem;
    }
    span {
      color: #c08b1d;
    }
  }
  &-img {
    margin-left: 2rem;
    @include respond(tab-land) {
      margin-left: 0;
      // margin-bottom: 2rem;
    }
    @include respond(phone) {
      width: 100%;
    }
  }
  &-link-wrap {
    margin-bottom: 2rem;
    @include respond(tab-land) {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      margin-bottom: 4rem;
    }
  }
  &-link {
    margin-right: 2.875rem;
    display: inline-block;
    width: 138px;
    img {
      width: 100%;
    }
    @include respond(tab-land) {
      margin-right: 0;
    }
  }
}
@keyframes blinker {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blinker-2 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blinker-3 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blinker-4 {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.footnote {
  margin: 0 auto;
  margin-top: 9.375rem;
  max-width: 39rem;
  text-align: center;
  border-bottom: 1px solid #c08b1d;
  @include respond(phone) {
    margin-top: 4.375rem;
  }
  h4 {
    font-size: 40px;
    line-height: 56px;
    max-width: 448px;
    margin: 0 auto 3.125rem;
    color: #c08b1d;
    font-weight: 700;
    text-align: center;
    // margin-bottom: 3.125rem;
    @include respond(phone) {
      font-size: 1.5625rem;
      line-height: 2.1875rem;
    }
  }
  a {
    margin: 0 auto;
    margin-bottom: 1.875rem;
  }
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      margin-right: 0.875rem;
    }
  }
}
.footer {
  // background-color: #c08b1d;
  // color: white;
  padding-top: 2.75rem;
  padding-bottom: 2.25rem;
  text-align: center;
  // margin-top: 9.1875rem;
  font-size: 17px;
  max-width: 350px;
  margin: 0 auto;
  font-weight: 700;
  @include respond(phone) {
    font-size: 14px;
    // line-height: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    // margin-top: 4.8125rem;
  }
}

// Styling
@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

$animationSpeed: 25s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-270px * 7));
  }
}

// Styling
.slider {
  // background: white;
  // box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  // height: 100px;
  // margin: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  padding: 0 140px;
  overflow: scroll;
  position: relative;
  // width: 960px;
  @include respond(tab-port) {
    padding: 0 70px;
  }
  @include respond(phone) {
    padding: 0 24px;
  }
  &::before,
  &::after {
    @include white-gradient;
    content: "";
    // height: 100px;
    position: absolute;
    // width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    // animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(240px * 14);
    &:hover {
      animation-play-state: paused;
    }
  }
}

.slider::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.social-media {
  position: absolute;
  right: 3rem;
  // top: 3rem;
  padding: 1.875rem;
  display: flex;
  background: #ffffff;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  transition: all 0.3s;
  width: fit-content;
  @include respond(phone) {
    padding: 0.875rem;
  }
  .line {
    height: 66px;
    border-left: 0.5px solid #333333;
    margin: auto;
  }
  a {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
    white-space: nowrap;
    &:last-child {
      margin-bottom: 0;
    }
    svg {
      margin-right: 0.5rem;
      margin-left: 0;
    }
    img {
      margin-right: 0.5rem;
      margin-left: 0;
    }
  }
  div {
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    &:first-child {
      margin-right: 3.375rem;
      @include respond(phone) {
        margin-right: 1.375rem;
      }
    }
    &:last-child {
      margin-left: 3.375rem;
      @include respond(phone) {
        margin-left: 1.375rem;
      }
    }
  }
}
.follow-becon:hover {
  cursor: pointer;
  .social-media {
    z-index: 9;
    opacity: 1;
    right: 0rem;
    visibility: visible;
  }
}
.social-media-hover {
  z-index: 9;
  opacity: 1;
  right: 0rem;
  visibility: visible;
  @include respond(phone) {
    right: 50%;
    transform: translateX(50%);
  }
}
.iframe {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(#333333, 0.8);
  left: 0;
  top: 0;
  transition: all 0.3s;
  // display: none;
  &-inner {
    height: 100vh;
    width: 100vw;
  }
  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include respond(phone) {
      width: 90%;
    }
  }
}
.hidden {
  display: none !important;
}
.block {
  display: block;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes MoveDownUp {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}
.minister-invite {
  max-width: 25.625rem;
  @include respond(tab-land) {
    max-width: unset;
  }
}
